
body{
    background-color: #171B29;
}

.navbar{
    background-color: #23283d !important;
}

.card{
    background-color: #23283d !important;
    
}

input{
    background-color: #171B29;
}


a, label, h3, p, h2, h4{
    color: white !important;
}

.headsetting, h6{
    color:#FC0441
}

.navbar-nav > li > .dropdown-menu{
    background-color: #23283d !important;
}



.dropdown-item:hover, .dropdown-menu:hover, .dropdown-menu-right:hover{
    background-color: #2d3553 !important;
}

.btn-primary{
    background-color: #FC0441;
    border: 0px;
}

.btn-primary:hover{
    
    background-color: #cf1a48;
    
}

b:hover{
    transition: 0.5s;
    color: #FC0441;
}

.small{
    display: none;
}

@media (max-width: 760px) {
    .small {
        display: block;
}
    .title{
        display: none;
    }
}

.birthday{
    
    background-color: white;

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: white;
    background-color: #FC0441;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #cf1a48;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.username{
    font-size: small;
}
